In [2]:
import pandas as pd
data = pd.read_csv('wine.data')
data

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [3]:
y = data.iloc[:, 0]
y

0      1
1      1
2      1
3      1
4      1
      ..
172    3
173    3
174    3
175    3
176    3
Name: 1, Length: 177, dtype: int64

In [5]:
X = data.iloc[:, 1:14]
X

,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [6]:
from sklearn.model_selection import KFold

In [7]:
cv = KFold(n_splits=5, shuffle=True, random_state=42)

In [8]:
from sklearn.neighbors import KNeighborsClassifier as KNC
from sklearn.model_selection import cross_val_score

In [9]:
for k in range(1,51):
    estimator = KNC(n_neighbors=k)
    quality = cross_val_score(estimator=estimator, X=X, y=y, cv=cv, scoring="accuracy")
    print(k, quality.mean())

1 0.7352380952380952
2 0.6665079365079365
3 0.718095238095238
4 0.6501587301587302
5 0.7068253968253968
6 0.6895238095238094
7 0.7236507936507938

8 0.7012698412698413
9 0.7071428571428571
10 0.6780952380952381
11 0.6842857142857144
12 0.6784126984126984

13 0.7180952380952381
14 0.717936507936508
15 0.7350793650793651
16 0.7293650793650794
17 0.7293650793650793

18 0.7293650793650794
19 0.717936507936508
20 0.7293650793650794
21 0.7123809523809523
22 0.7123809523809523

23 0.7123809523809523
24 0.7180952380952381
25 0.7293650793650793
26 0.7238095238095238
27 0.7293650793650793
28 0.7292063492063492

29 0.7236507936507937
30 0.717936507936508
31 0.7236507936507937
32 0.717936507936508
33 0.717936507936508

34 0.7066666666666668
35 0.7123809523809524
36 0.700952380952381
37 0.7068253968253968
38 0.7011111111111111

39 0.7125396825396825
40 0.7068253968253968
41 0.7125396825396825
42 0.7125396825396825
43 0.7125396825396826
44 0.7011111111111111

45 0.7011111111111111
46 0.7068253968253968
47 0.6953968253968255
48 0.700952380952381
49 0.6952380952380952
50 0.700952380952381

In [10]:
from sklearn.preprocessing import scale
X_norm = scale(X)
X_norm

array([[ 0.2558245 , -0.50162433, -0.8244853 , ...,  0.40709978,
         1.13169801,  0.97105248],
       [ 0.20622873,  0.01802001,  1.10768971, ...,  0.3195674 ,
         0.80457911,  1.40099798],
       [ 1.70650069, -0.34931478,  0.48793547, ..., -0.4244579 ,
         1.20281081,  2.34050852],
       ...,
       [ 0.34261709,  1.73822194, -0.38701171, ..., -1.60614514,
        -1.48525319,  0.28632445],
       [ 0.21862767,  0.22408586,  0.01400575, ..., -1.56237895,
        -1.39991783,  0.30224836],
       [ 1.40892609,  1.57695301,  1.36288264, ..., -1.51861275,
        -1.42836295, -0.58949046]])

In [11]:
acc = 0
for k in range(1,51):
    estimator = KNC(n_neighbors=k)
    quality = cross_val_score(estimator=estimator, X=X_norm, y=y, cv=cv, scoring="accuracy")
    if quality.mean() > acc:
        acc = quality.mean()
        saveK = k
print (saveK, acc)

28 0.9773015873015873